* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: #00050d;
}

.nav-logo img {
  height: 20px;
}

.nav-left {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.nav-left li {
  list-style: none;
}

.nav-left li:hover,
.nav-right li:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.nav-right {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.nav-right li {
  list-style: none;
}

.svg-icon {
  filter: invert(1);
}

.user-svg {
  width: 30px;
}

.join-btn {
  background-color: #1580d8;
  height: 42px;
  width: 120px;
  color: white;
  border-radius: 5px;
  border: none;
}
